body {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    background-color: #fff;
    width: 100%;
    margin: auto;
}

header div a {
    text-decoration: none;
    color: #000;
    display: block;
}

header div a img {
    display: block;
    width: 8vw;
    margin-left: auto;
    margin-right: auto;
}

header div a h3 {
    display: block;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    color: #000;
    font-size: 3em;

}

header nav {
    /* border-top: 5px solid #000;
    border-bottom: 5px solid #000; */
    display: flex;
    padding: 1em;
}

header nav a {
    font-size: 2em;
    text-decoration: none;
    display: flex;
    height: 100%;
    margin: auto;
    color: #000000;
    padding: 10px 20px;
    border-bottom: solid 3px #ffffff;
}

header nav a:hover {
    border-bottom: solid 3px #000;
}